body {
  font-family: 'Helvetica Neue' !important;
  background-color: #efefef !important;
}

md-content {
  background-color: #efefef !important;
}

md-dialog {
  min-width: 50%;
}

#clone-dialog md-input-container {
  padding-bottom: 10px
}

.repo-card {
  position: relative;
  cursor: pointer;
}

.repo-card .md-title {
  position: absolute;
  font-size: 18px;
  top: 18px;
}

.repo-card .md-subhead {
  position: absolute;
  top: 34px;
  font-size: 12px;
}

.repo-card .md-card-image {
    max-width: 70%;
    padding: 10px;
    text-align: center;
}

.repo-card .repo-image {
  text-align: center;
}

.repo-card .logo {
  width: 35px;
  margin: 10px;
}
