<md-dialog id="clone-dialog" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Clone repository</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon id="close-icon">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-toolbar class="md-accent" ng-if="error">
      <h2 class="md-toolbar-tools">
        <span flex>{{error}}</span>
      </h2>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container>
          <label>Name</label>
          <input ng-model="name">
        </md-input-container>
        <md-input-container>
          <label>Repo URL</label>
          <input ng-model="url">
        </md-input-container>
        <md-input-container>
          <label>Location</label>
          <input ng-model="path">
        </md-input-container>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center" ng-if="!cloning">
      <md-button ng-click="clone()" class="md-primary">
        Clone
      </md-button>
    </md-dialog-actions>
    <md-dialog-actions layout="row" layout-align="center center" ng-if="cloning">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </md-dialog-actions>
  </form>
</md-dialog>
