<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button ng-click="commit.navigateTo('/')" class="md-icon-button">
      <md-icon>arrow_back</md-icon>
    </md-button>
    <span id="md-toolbar-title">Commit</span>
  </div>
</md-toolbar>
<div id="commit-container" layout="row" flex>
  <div class="md-padding" layout="column" flex="50">
    <h1 class="bag-title">Working copy</h1>
    <div class="dragbag" id="left" dragular="commit.dragularOptions" flex>
      <md-card id="{{item.file}}" ng-repeat="item in commit.changedFiles" >
       <md-card-header>
         <md-card-avatar class="{{item.type}}">
           <md-icon>{{commit.getIcon(item.type)}}</md-icon>
         </md-card-avatar>
         <md-card-header-text>
           <span class="md-title">{{item.file}}</span>
           <span class="md-subhead" ng-class="item.type">{{item.type}}</span>
         </md-card-header-text>
       </md-card-header>
      </md-card>
    </div>
  </div>
  <div class="md-padding staging" layout="column" flex="50">
    <h1 class="bag-title">Staging</h1>
    <div class="dragbag" id="right" dragular="commit.dragularOptions2" flex>
      <md-card id="{{item.file}}" ng-repeat="item in commit.staged">
       <md-card-header>
         <md-card-avatar class="{{item.type}}">
           <md-icon>{{commit.getIcon(item.type)}}</md-icon>
         </md-card-avatar>
         <md-card-header-text>
           <span class="md-title">{{item.file}}</span>
           <span class="md-subhead" ng-class="item.type">{{item.type}}</span>
         </md-card-header-text>
       </md-card-header>
      </md-card>
    </div>
  </div>
</div>
<div class="md-padding commit-msg" layout="row">
  <md-input-container class="md-block" layout="column" flex="90">
    <label>Message</label>
    <input ng-model="commit.message">
  </md-input-container>
  <md-button ng-if="!commit.loading" ng-disabled="!commit.staged.length" ng-click="commit.commit()" class="md-raised md-warn" flex="10">Commit</md-button>
  <div ng-if="commit.loading" layout-align="space-around" flex="10">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
</div>
