<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button ng-click="main.toggleSidenav()" hide-gt-md class="md-icon-button">
      <md-icon>menu</md-icon>
    </md-button>
    <span id="md-toolbar-title">{{$root.window.title}}</span>
    <span flex></span>
    <!-- Clone button -->
    <md-button ng-if="$root.window.options == 0" ng-click="main.cloneDialog($event)" class="md-icon-button">
      <md-tooltip md-direction="bottom">
         Clone repository
       </md-tooltip>
      <md-icon>add</md-icon>
    </md-button>
    <!-- Push button -->
    <md-button ng-if="$root.window.options == 1" ng-click="repo.refresh($event)" class="md-icon-button">
      <md-tooltip md-direction="bottom">
         Refresh
       </md-tooltip>
      <md-icon>refresh</md-icon>
    </md-button>
    <!-- Pull button -->
    <md-button ng-if="$root.window.options == 1" ng-click="main.cloneDialog($event)" class="md-icon-button">
      <md-tooltip md-direction="bottom">
         Pull
       </md-tooltip>
      <md-icon>cloud_download</md-icon>
    </md-button>
    <!-- Commit button -->
    <md-button ng-if="$root.window.options == 1" ng-click="repo.openCommit($event)" class="md-icon-button">
      <md-tooltip md-direction="bottom">
         Commit
       </md-tooltip>
       <span class="button-badge" ng-if="repo.changes">{{repo.changes}}</span>
      <md-icon>queue</md-icon>
    </md-button>
    <!-- Push button -->
    <md-button ng-if="$root.window.options == 1" ng-click="main.cloneDialog($event)" class="md-icon-button">
      <md-tooltip md-direction="bottom">
         Push
       </md-tooltip>
      <md-icon>cloud_upload</md-icon>
    </md-button>
  </div>
</md-toolbar>
