<div ng-include="'client/tpl/header.html'"></div>
<div layout="column" layout-align="top center" flex>
    <md-content class="md-padding" layout="row" layout-wrap>
        <div class="repo-card" ng-repeat="repo in main.settings.repos" flex="33" layout="column">
          <md-card ng-click="main.openRepo(repo)" >
           <md-card-header>
             <md-card-avatar>
               <img class="logo" src="client/img/git.svg"/>
             </md-card-avatar>
             <md-card-header-text>
               <span class="md-title">{{::repo.name}}</span>
               <span class="md-subhead">{{::repo.path}}</span>
             </md-card-header-text>
           </md-card-header>
           <div class="repo-image">
             <img class="md-card-image" ng-src="{{::main.randomImage()}}"/>
           </div>
          </md-card>
        </div>
    </md-content>
</div>
