<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button ng-click="main.toggleSidenav()" hide-gt-md class="md-icon-button">
      <md-icon>menu</md-icon>
    </md-button>
    <span id="md-toolbar-title">{{repo.repo.name}}</span>
    <span flex></span>
    <!-- Push button -->
    <md-button ng-click="repo.refresh($event)" class="md-icon-button">
      <md-tooltip md-direction="bottom">
         Refresh
       </md-tooltip>
      <md-icon>refresh</md-icon>
    </md-button>
    <!-- Pull button -->
    <md-button ng-click="repo.pull()" class="md-icon-button">
      <md-tooltip md-direction="bottom">
         Pull
       </md-tooltip>
       <span class="button-badge" ng-if="repo.behind">{{repo.behind}}</span>
      <md-icon>cloud_download</md-icon>
    </md-button>
    <!-- Commit button -->
    <md-button ng-click="repo.openCommit($event)" class="md-icon-button">
      <md-tooltip md-direction="bottom">
         Commit
       </md-tooltip>
       <span class="button-badge" ng-if="repo.changes">{{repo.changes}}</span>
      <md-icon>queue</md-icon>
    </md-button>
    <!-- Push button -->
    <md-button ng-click="repo.push()" class="md-icon-button">
      <md-tooltip md-direction="bottom">
         Push
       </md-tooltip>
       <span class="button-badge" ng-if="repo.ahead">{{repo.ahead}}</span>
      <md-icon>cloud_upload</md-icon>
    </md-button>
  </div>
</md-toolbar>
<div layout="column" layout-align="top center" flex>
  <md-table-container>
    <table md-table md-progress="repo.loading">
      <thead md-head md-order="repo.query.order">
        <tr md-row>
          <th md-column>Message</th>
          <th md-column>Author</th>
          <th md-column md-numeric>Date</th>
          <th md-column>Hash</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="commit in repo.commits">
          <td md-cell>{{::commit.message}}</td>
          <td md-cell>{{::commit.author_name}} <{{::commit.author_email}}></td>
          <td md-cell>{{::commit.date | date: 'MM/dd/yyyy'}}</td>
          <td md-cell>{{::commit.hash}}</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
</div>
